[submodule "sub_1"]
	path = sub_1
	url = ./sub_1/
[submodule "sub_2"]
	path = sub_2
	url = ./sub_2/
[submodule "sub_3"]
	path = sub_3
	url = ./sub_3/
[submodule "reddit"]
	path = reddit
	url = https://github.com/priyankt68/reddit_miner.git
